env/crawler.env
env/testing.env

src/.aws/config.json

.serverless/
.serverless/*

test/testing.env
test/.cache/*
test/screens/*
test/webrtc-blocker/
test/webrtc-blocker/*

dist/
dist/*

samples
samples/*

workers/
experiments/

workers/*
experiments/*
